html{
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
}
body{
    margin: 0 !important;
    background-color: $base_color;
}

img {
    border: 0;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    appearance: button; 
    -webkit-appearance: button;
    cursor: pointer; 
}

button[disabled], html input[disabled] {
    cursor: default;
}

textarea {
    overflow: auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    margin: 0;
}