.nav_btn_items{
    padding: 32px 24px 32px 24px;
    @include font_property($body_2_size, $regulr_font);
    line-height: 24px;
    color: $text_color;
    background-color: transparent;
    transition: background-color 0.2s;
}
.nav_btn_items:hover{
    background-color: $primary_color;
}
@media (hover: none) {
    .nav_btn_items:hover {
        background-color: transparent;
    }
}
.nav_btn_items:active{
    background-color: $primary_color;
}