@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
     }
  }
}
@mixin font_property($size, $weight){
  font-size: $size;
  font-weight: $weight;
}
@mixin container($container){
  @if $container == "base-container"{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 0 72px 0 72px;
    @include media(max, lg){
      padding: 0 58px 1.5rem 58px;
    }
    @include media(max, md){
      padding: 0 40px 1.5rem 40px;
    }
    @include media(max, xs){
      padding: 0 20px 1.5rem 20px;
    }
  }
  @if $container == "fluid-container"{
    width: 100%;
  }
}