//colors
$base_color: #000000;
$level_1_color: #181823;
$light_grey_color: #DEECF9;
$dark_grey_color: #C7E0F4;
$text_color: #FFFFFF;
$primary_color: #5221E6;
$green_accent_color: #3CC74E;
$pink_accent_color: #E95D90;
$peach_accent_color: #FFF3E4;
$violet_accent_color: #FBE4FF;
//font weight
$regulr_font: normal;
$bold_font: bold;
//font size
$label_1_size: 117px;
$h_1_size: 78px;
$h_2_size: 55px;
$h_3_size: 24px;
$body_1_size: 18px;
$body_2_size: 16px;
$overline_size: 16px;
//screen
$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px, "xxl":1440px);